/* border: 1px solid red; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.direct-message-user{
    height: 100vh;
    width: 28%;
    /* border: 1px solid red; */
    border-right: 2px solid #2e2e2e;
    border-radius: 10px 0px 0px 10px;
    box-shadow: -1px 0px 30px 1px #101010;
    background-color: #242424;
}
.direct-message-heading{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    border-bottom: 2px solid #2e2e2e;
    align-items:center;
    padding: 10px;
    gap: 1rem;
}

.direct-message-heading>div>h1{
    color: white;
    font-size: 30px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.new-direct-message-button-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 10px;
    flex-grow: 1;
}

.new-direct-message-button{
    height: 100%;
    width: 30%;
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 35px;
    background-color: #1e1e1e;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    transition: 0.1s ease-in-out;
}

.new-direct-message-button:hover{
    scale: 1.1;
    font-size: 25px;
}
