.sidebar{
    height: 100vh;
    width: 20vw;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
    /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
    box-shadow: 10px 0px 30px 1px #101010;
}

.pfd-elements-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* height: 200px; */
    /* border: 3px solid green; */
}

.pfd-container{
    height: 370px;
    width: 100%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.614); */
    
}

.elements-container{
    position: relative;
    height: 100%;
    width: 100%;
    /* border: 5px solid green; */
}

.sign-out-button-container{
    text-decoration:none;
    display: flex;
    justify-content: center;
    width: 100%;
}


@media screen and (max-width: 1000px){
    .sidebar{
        border-radius: 0px 0px 0px 0px;
	}
}


@media screen and (max-width: 600px){
    .sidebar{
		display: none;
	}
}