.feed-main{
    height: 100vh;
    width: 50vw;
    /* margin-left: 5%; */
    /* background-color: cadetblue; */
    padding: 50px;
    /* padding-left: 60px; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    overflow: auto;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed-main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed-main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width: 600px){
    .feed-main{
        width: 100%;
        margin-left: 0%;
        /* display: none; */
    }
}

@media screen and (max-width: 350px){
    .feed-main{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .feed-main{
        width: 100%;
        /* display: none; */
    }
}