.infobar-main{
    height: 90vh;
    width: 450px;
    overflow: hidden;
    /* background-color: brown; */
    padding: 50px;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    /* margin-right: 5%; */
}

.card-container{
    height: 45%;
    width: 100%;
}

@media screen and (max-width: 1000px){
    .infobar-main{
        display: none;
    }
}