.nav-button-main{
    height: 50px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: transparent;
    transition: all .1s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.nav-button-container{
    height: 100%;
    width: 100%;
}

.nav-button-container:hover{
    .nav-button-main{
        /* background-color: rgb(46, 46, 46); */
        background-color: #383a403b;
        /* border: 2px solid rgb(79, 79, 79); */
        border-radius: 10px;
        transform: scale(0.9);
    }
}
