.user-dm-button{
    color: white;
    /* border: 1px solid red; */
    background-color: #1f1f1f;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    transition: 0.1s ease-in-out;
    border-radius: 10px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
/* .user-dm-button:hover{
    scale: 0.9;
} */

.user-dm-pfp-container{
    height: 100%;
    width: 80px;
    background-color: #242424;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 0px 5px 0px #242424;
}

.user-dm-pfp{
    border: 1px solid red;
    width: 40px;
    height: 40px;
    background-image: url('../../Assets/Images/6.jpg');
    background-size: contain;
    border-radius: 30px;
}

.user-selected{
    background-color: #2e2e2e;
}